DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="genera-un-valor-aleatorio-largo"
NEXTAUTH_URL="http://robotica.test"
GOOGLE_ID="tu-google-oauth-client-id"
GOOGLE_SECRET="tu-google-oauth-client-secret"
ADMIN_EMAIL="apps@cap.edu.mx"
